[submodule "bundle/dracula"]
	path = bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "bundle/spacegray"]
	path = bundle/spacegray
	url = https://github.com/ajh17/Spacegray.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "/Users/Matei/.vim/bundle/nerdtree"]
	path = /Users/Matei/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
