[submodule "/Users/Matei/.vim/bundle/nerdtree"]
	path = /Users/Matei/.vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
